<%= form_tag(login_path) do %>
    <div>
        <%= label_tag "Email" %><span class="required-input">*</span><br/>
        <%= email_field_tag :email %>
    </div>
    <div>
        <%= label_tag "Password" %><span class="required-input">*</span><br/>
        <%= password_field_tag :password %>
    </div>
    <div>
        <%= submit_tag "Log In" %>
    </div>
<% end %>
<div>
<%= button_to 'Log in with Facebook', '/auth/facebook', method: :post %>
</div>