<%= form_for @user do |f| %>
    <div>
        <p>Already a user? <%= link_to "Log in here", login_path %></p>
    </div>
    <div>
        <%= f.label "Email" %><span class="required-input">*</span> <span class="err-msg"><%= form_errors(@user, :email) %></span><br/>
        <%= f.email_field :email %>
    </div>
    <div>
        <%= f.label "Password" %><span class="required-input">*</span> <span class="err-msg"><%= form_errors(@user, :password) %></span><br/>
        <%= f.password_field :password %>
    </div>
    <div>
        <%= f.label :name %><br/>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.hidden_field :provider, {value: "website"} %>
    </div>
    <div>
        <%= f.submit %>
    </div>
<% end %>
<div>
<%= button_to 'Sign up with Facebook', '/auth/facebook', method: :post %>
</div>