<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
        <p>Fix up errors here</p>
        <%= form_errors(@user) %>
    <% end %>

        <%= f.label "Email" %><br/>
        <%= f.email_field :email %>

    <div class="test">
        <%= f.label "Password" %><span class="required-input">*</span><br/>
        <%= f.password_field :password %>
    </div>
    <div>
        <%= f.label :name %><br/>
        <%= f.text_field :name %>
    </div>
    <%= f.submit %>
<% end %>