<!DOCTYPE html>
<html>
  <head>
    <title>Njoy Your Veggies</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css2?family=Over+the+Rainbow&display=swap', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



  </head>

  <body>
    <main>
      <header class="page-header">
        <h1><%= link_to "Njoy Your Veggies!", root_path %></h1>      
        <nav class="navlink">
          <%= link_to "About", about_path %>
          <%= link_to "Recipes", root_path %>
        </nav>
      </header>

      <div class="content">
        <%= yield %>
      </div>

      <footer>
        <p>&copy;2021 <%= link_to "Njoy Your Veggies", "https://github.com/kristenkinnearohlmann" %></p>
      </footer>
    </main>
  </body>
</html>
